.card {

    display: flex;
    height: 12rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.5rem;
    background: #7E49FF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

