#root {
  overflow: scroll;
  height: 100svh;
  max-width: 30rem;
  margin: 0 auto;
  padding: 3rem 1rem 3rem 1rem;
  text-align: center;
  background: aquamarine;

}

p {
  color: #333333;
  font-weight: bold  ;
  font-size: 1.5rem;
}

.shell {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.next-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}




